/* static/css/style.css */
body {
    background-color: #fff;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.section {
    background-color: #ff4d4d;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 600px;
}

.chart-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 600px;
}

h1, h2 {
    color: #fff;
    background-color: #ff4d4d;
    border-radius: 8px;
    padding: 10px;
}

p {
    margin: 0;
    font-size: 1.5em;
    color: #fff;
}

/* 在 style.css 中添加 */
.title-section {
    text-align: center;
    margin: 20px;
}

.main-title {
    color: #ff4d4d; /* 标题颜色 */
    background-color: #fff; /* 背景色 */
    font-size: 5em;
}

/* 在 style.css 中添加 */
.input-area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 1280px;
}

.input-area input[type="text"], .input-area button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-area button {
    background-color: #ff4d4d;
    color: #fff;
    cursor: pointer;
}
